body {
  font-family: sans-serif;
}

#board {
  border: 0px;
}

table {
  border: 1px solid #000;
  border-collapse: collapse;
}

.cellStyle {
  border: 1px solid #000;
  width: 60px;
  height: 60px;
  font-size: 30px;
  font-family: "Helvetica";
  text-align: center;
}
.cellStyle:hover {
  background-color: rgb(240, 240, 240);
}
